# Editor files
*~
TAGS
*.patch

# Project (stack) files
.stack-work/
.stack-work-profile/
EntelectChallenge2018.cabal

# Compiled files
*.o
bin/
*.dump-simpl

# Game files
command.txt
*.out

# Testing Files
.dir-locals.el
EntelectChallenge2018-exe.eventlog
EntelectChallenge2018-exe.prof
Test-Engine-exe.prof
starter-pack
working-binaries
